$main-color: #019788;
$main-secondary-color: #7286c0;
$main-third-color: #8ee7a4;
$main-fouth-color: #51b3d5;
$main-fifth-color: #b659dc;
$main-sixth-color: #f1be34;
$main-seventh-color: #f2a859;
$main-eighth-color: #79c7c1;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #7286c0;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#scrollToTopButton {
  max-width: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: $main-color;
  box-shadow: 0px 4px 10px rgba(73, 45, 22, 0.801);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  svg {
    width: 25px;
    height: 25px;
  }
}

#scrollToTopButton.show {
  display: block;
}

.section-1 {
  .section-1-div {
    margin-top: 5vh;
    .container {
      width: 70%;
      max-width: 1280px;
      height: auto;
      overflow: hidden;
      position: relative;
      align-items: center;
      margin: auto;

      img {
        width: 100%;
        padding: 20px;
        flex-shrink: 0;
      }

      .wrapper {
        width: 100%; // 7 kép × 100%
        display: flex;
        animation: slide 40s infinite;

        @keyframes slide {
          0%,
          10% {
            transform: translateX(0%);
          }
          14.3%,
          24.3% {
            transform: translateX(-100%);
          }
          28.6%,
          38.6% {
            transform: translateX(-200%);
          }
          42.9%,
          52.9% {
            transform: translateX(-300%);
          }
          57.2%,
          67.2% {
            transform: translateX(-400%);
          }
          71.5%,
          81.5% {
            transform: translateX(-500%);
          }
          85.8%,
          94.8% {
            transform: translateX(-600%); // 7. kép
          }
          95%,
          100% {
            transform: translateX(-600%); // ugrás vissza az első képre
          }
        }
      }
    }
  }
}

.section-2 {
  background: linear-gradient(to right, $main-color, $main-secondary-color);
  height: auto;
  position: relative;

  .section-2-div {
    max-width: 1920px;
    align-items: center;
    margin: auto;

    .row {
      display: flex;
      position: relative;
      margin: auto;
      width: 80%;
      .column_left {
        flex: 20%;
        width: 40%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .column_right {
        flex: 80%;
        width: 60%;
        color: #fff;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        @media only screen and (max-width: 720px) {
          width: 90%;
          text-align: justify;
          h1 {
            text-align: center;
            margin-bottom: 25px;
          }
        }
      }

      #services {
        flex: 80%;
        width: 60%;
        color: #fff;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        h4,
        h5 {
          text-align: left;
          padding-left: 10px;
          font-weight: normal;
          @media only screen and (max-width: 720px) {
            text-align: center;
          }
        }
      }

      @media only screen and (max-width: 720px) {
        display: flex; /* Maradjon flexbox */
        flex-direction: column; /* Oszlop elrendezés */
        justify-content: center; /* Középre igazítás függőlegesen */
        align-items: center; /* Középre igazítás vízszintesen */
        margin: auto;
        width: 100%; /* Szélesség kicsit rugalmasabbá tétele */
      }
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.notes {
  .background-notes {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  .note {
    position: absolute;
    font-size: 24px;
    color: $main-fifth-color;
    opacity: 0;
    animation: fall linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(-10%) rotate(0deg);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity: 0;
    }
  }
}

/* filepath: c:\Users\freem\source\repos\Lisztium\Webapp\src\styles.scss */
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
