@import "../../../styles.scss";

.section-3 {
  padding: 2rem 0;

  .section-3-div {
    max-width: 1920px;
    align-items: center;
    margin: auto;
    text-align: justify;
    transition: all 0.3s ease;

    h1 {
      background: linear-gradient(to right, $main-eighth-color, $main-color);
      text-align: center;
      border-radius: 10px;
      width: 350px;
      align-items: center;
      margin: auto;
      margin-top: 50px;
      padding: 1rem;
      color: white;
    }

    a {
      width: 90%;
    }

    .profile {
      pointer-events: auto;
      position: relative;
      align-items: center;
      margin: auto;
      background-color: $main-color;
      padding: 1rem;
      width: 150px;
      text-align: center;
      border-radius: 10px;
      color: #fff;
      display: block;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $main-secondary-color;
      }
    }

    .container850above {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      width: 90%;
      gap: 20px;
      margin-bottom: 10px;

      .columns {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        margin: auto;
        justify-content: center;
        margin-bottom: 50px;

        .leftbox,
        .rightbox {
          width: 600px;
          height: 250px;
          border-radius: 10px;
          margin-top: 6vh;
          z-index: -1;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          color: #666;
          vertical-align: middle;
          pointer-events: none;
          padding: 1.5rem;

          h3 {
            color: $main-color;
            margin-bottom: 1rem;
          }

          p {
            line-height: 1.6;
          }
        }

        .leftbox {
          transform: translateX(20%); /* Belógás jobbról */
          padding-left: 5%;
          padding-right: 18%;
        }

        .rightbox {
          transform: translateX(-20%); /* Belógás balról */
          padding-left: 18%;
          padding-right: 5%;
        }

        .circle {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          display: flex; /* Flexbox aktiválása */
          justify-content: center; /* Vízszintes középre igazítás */
          align-items: center; /* Függőleges középre igazítás */
          transform: translateY(3vh);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title {
          margin-top: 10px;
          text-align: center;
          vertical-align: bottom;
        }
      }

      @media only screen and (max-width: 850px) {
        display: none;
      }
    }

    .container850below {
      display: flex; /* Flexbox alapértelmezett használata */
      flex-wrap: wrap; /* Elemek új sorba kerülnek, ha nem férnek el */
      justify-content: space-around; /* Elemek közötti térköz */
      width: 80%; /* 90%-os szélességet használja */
      gap: 20px; /* Elemek közötti távolság */
      margin-bottom: 10px;
      align-items: center;
      margin: auto;

      h1 {
        text-align: center;
        border-radius: 10px;
        margin-left: 20%;
        margin-right: 20%;
      }

      .columns {
        display: flex; /* Egy sor elemeinek elrendezése */
        flex-direction: column; /* Elemek egymás alatt */
        align-items: center;
        margin: auto;
        width: 80%; /* A teljes szélességet használja */

        .leftbox,
        .rightbox {
          justify-content: center;
          align-items: center;
          margin: auto;
          width: 100% !important;
          max-width: 330px !important;
          height: auto;
          border-radius: 10px;
          z-index: -1;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          margin-top: -150px; /* Doboz belógása a körbe */
          margin-bottom: 50px;
          color: #666;
          padding: 1.5rem 10% 2rem 10%;

          h3 {
            color: $main-color;
          }

          p {
            padding-bottom: 25px;
          }
        }

        .circle {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          display: flex; /* Flexbox aktiválása */
          justify-content: center; /* Vízszintes középre igazítás */
          align-items: center; /* Függőleges középre igazítás */
          margin: auto;
          margin-bottom: 25px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .title {
          margin-top: 150px;
          text-align: center;
        }
      }

      @media only screen and (min-width: 851px) {
        display: none;
      }
    }
  }
}
