$main-color: #79c7c1;
$main-secondary-color: #7286c0;

footer {
  background: linear-gradient(to right, $main-color, $main-secondary-color);
  height: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 10px 10px 0 0;

  img {
    width: 40%;
    height: auto;
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    padding: 25px;
    ul {
      li {
        padding: 5px;
        .follow {
          background-color: #fff;
          width: 300px;
          height: 130px;
          border-radius: 10px;
          text-align: center;
          justify-content: center;
          vertical-align: middle;
          h6 {
            color: $main-secondary-color;
          }
          img {
            width: 75px;
            height: 75px;
            background: linear-gradient(to right bottom, #004aad, #b659dc);
            border-radius: 50%;
            margin: 10px;
            padding: 5px;
          }
        }
      }
    }
  }

  a {
    color: white;
  }

  .bottom {
    display: grid;
    align-items: end; /* Szöveg alulra igazítása */
    justify-items: center; /* Középre igazítás vízszintesen */
  }

  @media screen and (max-width: 100px) {
    .links {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 850px) {
    .links {
      grid-template-columns: repeat(1, 1fr);
      ul {
        li {
          .follow {
            align-items: center;
            margin: auto;
          }
        }
      }
    }
  }
}
