@charset "UTF-8";
.section-3 .section-3-div {
  max-width: 1920px;
  align-items: center;
  margin: auto;
}
.section-3 .section-3-div h1 {
  background: linear-gradient(to right, #79c7c1, #7286c0);
  text-align: center;
  border-radius: 10px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-3 .section-3-div .container850above {
  display: flex; /* Flexbox alapértelmezett használata */
  flex-wrap: wrap; /* Elemek új sorba kerülnek, ha nem férnek el */
  justify-content: space-around; /* Elemek közötti térköz */
  align-items: center; /* Vertikális igazítás középre */
  margin: auto;
  width: 90%; /* 90%-os szélességet használja */
  gap: 20px; /* Elemek közötti távolság */
  margin-bottom: 10px;
}
.section-3 .section-3-div .container850above .columns {
  display: flex; /* Egy sor elemeinek elrendezése */
  flex-direction: row; /* Elemek egymás mellett vízszintesen */
  width: 70%; /* A teljes szélességet használja */
}
.section-3 .section-3-div .container850above .columns .leftbox, .section-3 .section-3-div .container850above .columns .rightbox {
  width: 60%;
  height: 15vh;
  border-radius: 10px;
  margin-top: 7vh;
  z-index: -1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.section-3 .section-3-div .container850above .columns .leftbox {
  transform: translateX(20%); /* Belógás jobbról */
}
.section-3 .section-3-div .container850above .columns .rightbox {
  transform: translateX(-20%); /* Belógás balról */
}
.section-3 .section-3-div .container850above .columns .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.section-3 .section-3-div .container850above .columns .title {
  margin-top: 10px;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .section-3 .section-3-div .container850above {
    display: none;
  }
}
.section-3 .section-3-div .container850below {
  display: flex; /* Flexbox alapértelmezett használata */
  flex-wrap: wrap; /* Elemek új sorba kerülnek, ha nem férnek el */
  justify-content: space-around; /* Elemek közötti térköz */
  align-items: center; /* Vertikális igazítás középre */
  margin: auto;
  width: 90%; /* 90%-os szélességet használja */
  gap: 20px; /* Elemek közötti távolság */
  margin-bottom: 10px;
}
.section-3 .section-3-div .container850below .columns {
  display: flex; /* Egy sor elemeinek elrendezése */
  flex-direction: column; /* Elemek egymás alatt */
  align-items: center; /* Középre igazítás */
  width: 70%; /* A teljes szélességet használja */
}
.section-3 .section-3-div .container850below .columns .leftbox, .section-3 .section-3-div .container850below .columns .rightbox {
  width: 60%;
  height: 15vh;
  border-radius: 10px;
  margin-top: 7vh;
  z-index: -1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 70%; /* Szélesebb doboz */
  transform: translateX(0); /* Nincs oldalra tolás */
  margin-top: -30px; /* Doboz belógása a körbe */
}
.section-3 .section-3-div .container850below .columns .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: -50px; /* Kör belógása a doboz mögé */
}
.section-3 .section-3-div .container850below .columns .title {
  margin-top: 10px;
  text-align: center;
}
@media only screen and (min-width: 851px) {
  .section-3 .section-3-div .container850below {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .section-3 .section-3-div h1 {
    text-align: center;
    border-radius: 10px;
    margin-left: 60%;
    margin-right: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=about.css.map */
