html {
  color: white;
  /* 48px */
  /* 44px */
  /* 40px */
  /* 36px */
  /* 32px */
  /* 28px */
  /* 24px */
}
html h1 {
  font-size: 3rem !important;
}
html h2 {
  font-size: 2.75rem !important;
}
html h3 {
  font-size: 2.5rem !important;
}
html h4 {
  font-size: 2.25rem !important;
}
html h5 {
  font-size: 2rem !important;
}
html h6 {
  font-size: 1.75rem !important;
}
html p, html ul {
  font-size: 1.5rem !important;
}
@media (max-width: 2560px) {
  html { /* 47px */
    /* 43px */
    /* 39px */
    /* 35px */
    /* 31px */
    /* 27px */
    /* 23px */
  }
  html h1 {
    font-size: 2.9375rem !important;
  }
  html h2 {
    font-size: 2.6875rem !important;
  }
  html h3 {
    font-size: 2.4375rem !important;
  }
  html h4 {
    font-size: 2.1875rem !important;
  }
  html h5 {
    font-size: 1.9375rem !important;
  }
  html h6 {
    font-size: 1.6875rem !important;
  }
  html p, html ul {
    font-size: 1.4375rem !important;
  }
}
@media (max-width: 1920px) {
  html { /* 46px */
    /* 42px */
    /* 38px */
    /* 34px */
    /* 30px */
    /* 26px */
    /* 22px */
  }
  html h1 {
    font-size: 2.875rem !important;
  }
  html h2 {
    font-size: 2.625rem !important;
  }
  html h3 {
    font-size: 2.375rem !important;
  }
  html h4 {
    font-size: 2.125rem !important;
  }
  html h5 {
    font-size: 1.875rem !important;
  }
  html h6 {
    font-size: 1.625rem !important;
  }
  html p, html ul {
    font-size: 1.375rem !important;
  }
}
@media (max-width: 1600px) {
  html { /* 45px */
    /* 41px */
    /* 37px */
    /* 33px */
    /* 29px */
    /* 25px */
    /* 21px */
  }
  html h1 {
    font-size: 2.8125rem !important;
  }
  html h2 {
    font-size: 2.5625rem !important;
  }
  html h3 {
    font-size: 2.3125rem !important;
  }
  html h4 {
    font-size: 2.0625rem !important;
  }
  html h5 {
    font-size: 1.8125rem !important;
  }
  html h6 {
    font-size: 1.5625rem !important;
  }
  html p, html ul {
    font-size: 1.3125rem !important;
  }
}
@media (max-width: 1440px) {
  html { /* 44px */
    /* 40px */
    /* 36px */
    /* 32px */
    /* 28px */
    /* 24px */
    /* 20px */
  }
  html h1 {
    font-size: 2.75rem !important;
  }
  html h2 {
    font-size: 2.5rem !important;
  }
  html h3 {
    font-size: 2.25rem !important;
  }
  html h4 {
    font-size: 2rem !important;
  }
  html h5 {
    font-size: 1.75rem !important;
  }
  html h6 {
    font-size: 1.5rem !important;
  }
  html p, html ul {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 1366px) {
  html { /* 43px */
    /* 39px */
    /* 35px */
    /* 31px */
    /* 27px */
    /* 23px */
    /* 19px */
  }
  html h1 {
    font-size: 2.6875rem !important;
  }
  html h2 {
    font-size: 2.4375rem !important;
  }
  html h3 {
    font-size: 2.1875rem !important;
  }
  html h4 {
    font-size: 1.9375rem !important;
  }
  html h5 {
    font-size: 1.6875rem !important;
  }
  html h6 {
    font-size: 1.4375rem !important;
  }
  html p, html ul {
    font-size: 1.1875rem !important;
  }
}
@media (max-width: 1280px) {
  html { /* 42px */
    /* 38px */
    /* 34px */
    /* 30px */
    /* 26px */
    /* 22px */
    /* 18px */
  }
  html h1 {
    font-size: 2.625rem !important;
  }
  html h2 {
    font-size: 2.375rem !important;
  }
  html h3 {
    font-size: 2.125rem !important;
  }
  html h4 {
    font-size: 1.875rem !important;
  }
  html h5 {
    font-size: 1.625rem !important;
  }
  html h6 {
    font-size: 1.375rem !important;
  }
  html p, html ul {
    font-size: 1.125rem !important;
  }
}
@media (max-width: 1080px) {
  html { /* 41px */
    /* 37px */
    /* 33px */
    /* 29px */
    /* 25px */
    /* 21px */
    /* 17px */
  }
  html h1 {
    font-size: 2.5625rem !important;
  }
  html h2 {
    font-size: 2.3125rem !important;
  }
  html h3 {
    font-size: 2.0625rem !important;
  }
  html h4 {
    font-size: 1.8125rem !important;
  }
  html h5 {
    font-size: 1.5625rem !important;
  }
  html h6 {
    font-size: 1.3125rem !important;
  }
  html p, html ul {
    font-size: 1.0625rem !important;
  }
}
@media (max-width: 720px) {
  html { /* 40px */
    /* 36px */
    /* 32px */
    /* 28px */
    /* 24px */
    /* 20px */
    /* 16px */
  }
  html h1 {
    font-size: 2.5rem !important;
  }
  html h2 {
    font-size: 2.25rem !important;
  }
  html h3 {
    font-size: 2rem !important;
  }
  html h4 {
    font-size: 1.75rem !important;
  }
  html h5 {
    font-size: 1.5rem !important;
  }
  html h6 {
    font-size: 1.25rem !important;
  }
  html p, html ul {
    font-size: 1rem !important;
  }
}
@media (max-width: 480px) {
  html { /* 39px */
    /* 35px */
    /* 31px */
    /* 27px */
    /* 23px */
    /* 19px */
    /* 15px */
  }
  html h1 {
    font-size: 2.4375rem !important;
  }
  html h2 {
    font-size: 2.1875rem !important;
  }
  html h3 {
    font-size: 1.9375rem !important;
  }
  html h4 {
    font-size: 1.6875rem !important;
  }
  html h5 {
    font-size: 1.4375rem !important;
  }
  html h6 {
    font-size: 1.1875rem !important;
  }
  html p, html ul {
    font-size: 0.9375rem !important;
  }
}
@media (max-width: 360px) {
  html { /* 38px */
    /* 34px */
    /* 30px */
    /* 26px */
    /* 22px */
    /* 18px */
    /* 14px */
  }
  html h1 {
    font-size: 2.375rem !important;
  }
  html h2 {
    font-size: 2.125rem !important;
  }
  html h3 {
    font-size: 1.875rem !important;
  }
  html h4 {
    font-size: 1.625rem !important;
  }
  html h5 {
    font-size: 1.375rem !important;
  }
  html h6 {
    font-size: 1.125rem !important;
  }
  html p, html ul {
    font-size: 0.875rem !important;
  }
}

/*# sourceMappingURL=font.css.map */
