* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(to right, #019788, #4f68b0);
  height: 50px;
  position: fixed;
  overflow: hidden;
  float: right;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 1px 20px black;
}
.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media only screen and (max-width: 850px) {
  .navbar .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background: linear-gradient(to right, #019788, #4f68b0);
  }
}
.navbar .nav-menu.active {
  left: 0;
}
.navbar .nav-menu .nav-item {
  margin: 2.5rem 0;
}
.navbar .nav-menu .nav-item .nav-link, .navbar .nav-menu .nav-item #apply {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  margin-right: 20px;
  transition: all 0.3s;
}
.navbar .nav-menu .nav-item .nav-link img, .navbar .nav-menu .nav-item #apply img {
  height: 35px;
  vertical-align: middle;
  margin-right: 5px;
}
@media only screen and (max-width: 1440px) {
  .navbar .nav-menu .nav-item .nav-link, .navbar .nav-menu .nav-item #apply {
    font-size: 1rem;
  }
  .navbar .nav-menu .nav-item .nav-link img, .navbar .nav-menu .nav-item #apply img {
    height: 30px;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar .nav-menu .nav-item .nav-link, .navbar .nav-menu .nav-item #apply {
    font-size: 0.7rem;
  }
  .navbar .nav-menu .nav-item .nav-link img, .navbar .nav-menu .nav-item #apply img {
    height: 25px;
  }
}
.navbar .nav-menu .nav-item .nav-link:hover, .navbar .nav-menu .nav-item #apply:hover {
  color: #f2a859;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.navbar .nav-menu .nav-item .nav-link:hover img, .navbar .nav-menu .nav-item #apply:hover img {
  height: 37px;
  transition: all 0.3s;
}
@media only screen and (max-width: 1440px) {
  .navbar .nav-menu .nav-item .nav-link:hover, .navbar .nav-menu .nav-item #apply:hover {
    font-size: 1.1rem;
  }
  .navbar .nav-menu .nav-item .nav-link:hover img, .navbar .nav-menu .nav-item #apply:hover img {
    height: 32px;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar .nav-menu .nav-item .nav-link:hover, .navbar .nav-menu .nav-item #apply:hover {
    font-size: 0.8rem;
  }
  .navbar .nav-menu .nav-item .nav-link:hover img, .navbar .nav-menu .nav-item #apply:hover img {
    height: 27px;
  }
}
.navbar .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
}

.hamburger {
  display: none;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
  margin-top: 8px;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
  margin-top: 8px;
}
@media only screen and (max-width: 850px) {
  .hamburger {
    position: absolute;
    display: flex;
    cursor: pointer;
    left: 10px;
  }
}
.hamburger .bar_container {
  background-color: white;
  border-radius: 5px;
  width: 5vh;
  height: 5vh;
}
.hamburger .bar_container .bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  transform: translateY(4px);
}

#apply {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #f1be34, #f2a859);
}
#apply:hover {
  color: #4f68b0 !important;
}

/*# sourceMappingURL=navbar.css.map */
