@charset "UTF-8";
.semiovaltop {
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.semiovalbottom {
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-3 {
  height: auto;
  margin-bottom: 150px;
}
.section-3 .greenline {
  margin-top: 100px;
  background: linear-gradient(to right, #019788, #8ee7a4);
  width: 95%;
  height: 250px;
  border-radius: 0 200px 200px 0;
  display: flex;
  /* Kezdőállapot: eltolás és átlátszóság */
  transform: translateX(-100%);
  opacity: 0;
  /* Animáció alkalmazása */
  animation: slideInLeft 1.5s ease-out forwards;
  animation-delay: 0s;
}
.section-3 .greenline.visible {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .greenline .shortgreenline {
  background: linear-gradient(to right, #8ee7a4, #019788);
  width: 50%;
  height: 350px;
  transform: translateY(-5vh);
  border-radius: 0 200px 200px 0;
}
.section-3 .greenline .shortgreenline img {
  height: 391px;
  width: auto;
  transform: translateY(-5vh);
  float: right;
  margin-right: 1px;
  border-top-right-radius: 150px; /* Csak a jobb alsó sarok lesz lekerekítve */
  border-bottom-right-radius: 150px; /* Csak a jobb alsó sarok lesz lekerekítve */
}
.section-3 .greenline .piano {
  width: 45%;
  text-align: center;
  margin-top: 5vh;
  margin-left: 5vh;
}
@media only screen and (max-width: 850px) {
  .section-3 .greenline {
    background: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    color: #000;
    flex-direction: column; /* Elemek egymás alá helyezése */
    align-items: center;
    margin: auto;
    margin-top: 35vh;
    height: 85%;
    padding-top: 20px;
  }
  .section-3 .greenline .shortgreenline {
    width: 125%;
    transform: translate(-7%, -75%);
    position: fixed;
    height: 25vh;
  }
  .section-3 .greenline .shortgreenline img {
    height: 30vh;
    width: auto;
    transform: translateY(-5vh);
    float: right;
    margin-right: 1px;
    border-top-right-radius: 100px; /* Csak a jobb alsó sarok lesz lekerekítve */
    border-bottom-right-radius: 75px; /* Csak a jobb alsó sarok lesz lekerekítve */
  }
  .section-3 .greenline .piano {
    width: 70%;
    padding-top: 10vh;
    padding-bottom: 1vh;
    text-align: center;
    margin: auto;
    height: 80%;
  }
}
.section-3 .purpleline {
  margin-top: 100px;
  background: linear-gradient(to right, #51b3d5, #7286c0);
  width: 95%;
  height: 250px;
  border-radius: 200px 0 0 200px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  /* Kezdőállapot: eltolás és átlátszóság */
  transform: translateX(-100%);
  opacity: 0;
  /* Animáció alkalmazása */
  animation: slideInRight 1.5s ease-out forwards;
  animation-delay: 0s;
}
.section-3 .purpleline.visible {
  transform: translateX(0);
  opacity: 1;
}
.section-3 .purpleline .shortpurpleline {
  background: linear-gradient(to right, #b659dc, #019788);
  width: 50%;
  height: 350px;
  transform: translateY(-5vh);
  border-radius: 200px 0 0 200px;
  margin-right: 0;
}
.section-3 .purpleline .shortpurpleline img {
  height: 391px;
  width: auto;
  transform: translateY(-5vh);
  float: right;
  margin-right: 1px;
}
.section-3 .purpleline .violin {
  width: 45%;
  text-align: center;
  margin-top: 5vh;
  margin-left: 10vh;
}
@media only screen and (max-width: 850px) {
  .section-3 .purpleline {
    background: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    color: #000;
    flex-direction: column; /* Elemek egymás alá helyezése */
    align-items: center;
    margin: auto;
    margin-top: 35vh;
    height: 85%;
    padding-top: 20px;
  }
  .section-3 .purpleline .shortpurpleline {
    width: 125%;
    transform: translate(7%, -75%);
    position: fixed;
    height: 25vh;
  }
  .section-3 .purpleline .shortpurpleline img {
    height: 30vh;
    width: auto;
    transform: translateY(-5vh);
    margin-right: 250px !important;
    margin-right: 1px;
  }
  .section-3 .purpleline .violin {
    width: 70%;
    padding-top: 10vh;
    padding-bottom: 1vh;
    text-align: center;
    margin: auto;
    height: 80%;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%); /* Teljesen balra */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Eredeti helyére */
    opacity: 1;
  }
}

.section-4 {
  max-height: 1500px;
  overflow-y: hidden;
  max-width: 1680px;
  align-items: center;
  margin: auto;
}
.section-4 ul {
  list-style-type: circle !important;
}
.section-4 .plane_left, .section-4 .orangebox .plane_left {
  left: 0;
  width: 10vh;
  height: auto;
  position: fixed;
}
.section-4 .plane_right {
  margin-left: 80%;
  width: 15vh;
  height: auto;
  position: relative;
  transform: scaleX(-1); /* A kép vízszintesen tükrözve lesz */
}
.section-4 .orangebox {
  align-items: center;
  margin: auto;
  background: linear-gradient(to right, #f1be34, #f2a859);
  min-height: 25vh;
  height: auto;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  transform: translateY(10%);
  opacity: 0;
  /* Animáció alkalmazása */
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 0s;
}
.section-4 .orangebox.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-4 .orangebox p {
  padding: 50px;
}
.section-4 .orangebox .plane_left {
  margin-top: -50px;
}
.section-4 .bluebox {
  background: linear-gradient(to right, #79c7c1, #7286c0);
  align-items: center;
  margin: auto;
  min-height: calc(110% + 5vh);
  height: calc(110% + 5vh) !important;
  width: 60%;
  margin-top: 50px;
  border-radius: 10px;
  padding: 50px;
  transform: translateY(10%);
  opacity: 0;
  /* Animáció alkalmazása */
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 0s;
}
.section-4 .bluebox.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-4 .bluebox h3 {
  margin-bottom: 30px;
}
.section-4 .bluebox li {
  padding: 20px;
  list-style: disc;
}
.section-4 .smallbluebox {
  background: linear-gradient(to right, #79c7c1, #7286c0);
  align-items: center;
  margin: auto;
  min-height: 100%;
  height: 100% !important;
  width: 70%;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  transform: translateY(10%);
  opacity: 0;
  /* Animáció alkalmazása */
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 0s;
}
.section-4 .smallbluebox.visible {
  transform: translateY(0);
  opacity: 1;
}
.section-4 .smallbluebox h3 {
  padding: 10px;
}
.section-4 .smallbluebox p {
  padding: 20px;
}
@keyframes slideInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 720px) {
  .section-4 .orangebox {
    width: 90%;
  }
  .section-4 .orangebox p {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section-4 .bluebox {
    width: 90%;
  }
  .section-4 .bluebox h3 {
    text-align: center;
  }
  .section-4 .bluebox li {
    padding: 5px;
  }
  .section-4 .smallbluebox {
    width: 90%;
  }
  .section-4 .smallbluebox h3 {
    padding-top: 45px;
  }
  .section-4 .smallbluebox p {
    padding: 10px;
    padding-bottom: 25px;
  }
  .section-4 .smallbluebox .plane_left {
    margin-bottom: 50px;
    width: 75px;
  }
}

.section-5 {
  background: linear-gradient(to right, #019788, #7286c0);
  max-height: 1000vh;
  min-height: auto;
}
.section-5 h2 {
  padding-top: 50px;
  width: 350px;
  text-align: center;
  margin: auto;
  z-index: 15;
  margin-bottom: -125px;
}
.section-5 .whitebox {
  width: 90%;
  max-width: 1920px;
  min-height: 100%;
  height: 100% !important;
  background: white;
  margin: auto;
  align-items: center;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  mask: linear-gradient(to top, #fff 50%, transparent 40%), linear-gradient(to bottom, #fff -10%, transparent -10%), linear-gradient(to left, #fff 40%, transparent 400px), linear-gradient(to right, #fff 10%, transparent 10%), radial-gradient(circle 50px at 20% 50%, black 100%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask: linear-gradient(to top, #fff calc(100% - 5vh), transparent calc(100% - 5vh)), linear-gradient(to bottom, #fff -97%, transparent -97%), linear-gradient(to left, #fff 40%, transparent 40%), linear-gradient(to right, #fff 40%, transparent 40%);
}
.section-5 .whitebox .card_container {
  width: 90%;
  min-height: 100%;
  height: 100% !important;
  align-items: center;
  margin: auto;
  transform: translateY(8vh);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.section-5 .whitebox .card_container .card {
  height: 65vh;
  width: 30vh;
  background-color: lightgray;
  border-radius: 10px;
  margin: 15px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.section-5 .whitebox .card_container .card .top-half {
  height: 50%;
  background-color: #f2a859;
  border-radius: 10px;
}
.section-5 .whitebox .card_container .card .bottom-half {
  height: 50%;
  padding: 5px;
  color: #000;
}
@media only screen and (max-width: 720px) {
  .section-5 h2 {
    margin-bottom: -75px;
  }
  .section-5 .whitebox {
    -webkit-mask: linear-gradient(to top, #fff 100%, transparent 100%);
  }
  .section-5 .whitebox .card_container {
    align-items: center;
    margin: auto;
  }
  .section-5 .whitebox .card_container .card {
    justify-content: center;
    margin: auto;
    margin-top: 15px;
  }
}

.section-6 {
  min-height: 600px;
  height: auto;
  align-items: center;
  margin: auto;
  width: 90%;
}
.section-6 h2 {
  text-align: center;
  background: linear-gradient(to right, #019788, #7286c0);
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.section-6 .card_container {
  display: flex; /* Flexbox használata a gyerek elemek sorba rendezéséhez */
  justify-content: center; /* Középre igazítás vízszintesen */
  align-items: center; /* Középre igazítás függőlegesen */
  margin: auto;
  gap: 20px;
}
.section-6 .card_container .card {
  display: inline-flex;
  margin-top: 10px;
  text-align: center;
}
.section-6 .card_container .card ul {
  max-width: 90% !important; /* Nem engedi a teljes szélességet kihasználni */
}
.section-6 .card_container .card ul li {
  list-style: disc;
  text-align: left;
  margin: 20px;
  margin-right: 90% !important;
}
.section-6 .card_container .card h4 {
  padding-top: 25px;
}
.section-6 .card_container .card h5 {
  padding-bottom: 25px;
}
.section-6 .card_container .card .side_card_left {
  width: 35vh;
  min-height: 40vh;
  height: auto;
  background: linear-gradient(to bottom right, #019788, #7286c0);
  border-radius: 10px;
  margin-top: 80px;
  transition: all 0.3s;
}
.section-6 .card_container .card .middle_card {
  width: 35vh;
  height: 50vh;
  background: linear-gradient(to bottom right, #f1be34, #f2a859);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  transition: all 0.3s;
}
.section-6 .card_container .card .side_card_right {
  width: 35vh;
  min-height: 40vh;
  height: auto;
  background: linear-gradient(to top right, #51b3d5, #79c7c1);
  border-radius: 10px;
  margin-top: 80px;
  transition: all 0.3s;
}
.section-6 .card_container .card .side_card_left:hover, .section-6 .card_container .card .side_card_right:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.section-6 .card_container .card .side_card_left:hover .overlay, .section-6 .card_container .card .side_card_right:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}
.section-6 .card_container .card .middle_card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
.section-6 .card_container .card .middle_card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 720px) {
  .section-6 .card_container .card {
    flex-direction: column;
    gap: 10px;
    min-height: auto;
    margin-bottom: 10vh;
  }
  .section-6 .card_container .card h2 {
    margin-bottom: 20px;
  }
  .section-6 .card_container .card .card {
    align-items: center;
    margin: auto;
  }
  .section-6 .card_container .card .side_card_left,
  .section-6 .card_container .card .middle_card,
  .section-6 .card_container .card .side_card_right {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
