body {
    background: linear-gradient(to right, #4CAF50, #b659dc);
    text-align: center;
    display: flex;
    justify-content: center;   // vízszintesen középre
    align-items: center;       // függőlegesen középre
    margin: 0;
    min-height: 100vh;         // teljes magasság
}